body {
    
}

  /* // Bootstrap resets */
.card {
    border: none;
}
.card-img {
    border-radius: 0;
}

.vgr-cards {
    .card {
        display: flex;
        flex-flow: wrap;
        flex: 100%;
        margin-bottom: 40px;

        &:nth-child(even) .card-img-body {
        order: 2;
        }

        &:nth-child(even) .card-body {
        padding-left: 0;
        padding-right: 1.25rem; 
        }

        @media (max-width: 576px) {
        display: block;
        }

    }

    .card-img-body {
        flex: 1;
        overflow: hidden;
        position: relative;

        @media (max-width: 576px) {
        width: 100%;
        height: 200px;
            margin-bottom: 20px;
        }
    }
    
.card-img {
    width: 100%;
    height: auto;
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
        @media (max-width: 1140px) {
            margin: 0;
        transform: none;
        width: 100%;
        height: auto;
        }
}

    .card-body {
        flex: 2;
        padding: 0 0 0 1.25rem;

        @media (max-width: 576px) {
        padding: 0;
        }
    }
}
.content-web{
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Rubik', sans-serif;
    text-align: left;
}
.content-web li{
    margin-bottom: 10px;
}
.content-web1{
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Rubik', sans-serif;
}
.enter-content{
    margin-top: 20px;
}


.profile img{
    width: 150px;

}

.content-video {
    margin-left: 33%;
    margin-right: 50%;
    margin-top: 5px;
}
.content-img{
    margin-left: 5%;
    margin-right: 50%;
}
.card-about{
    margin-left: auto;
    margin-right: auto;
}

/* dark mode css */
label{
    position: absolute;
    width: 45px;
    height: 22px;
    right: 20px;
    top: 20px;
    border: 2px solid;
    border-radius: 20px;
}
label:before{
    position: absolute;
    content: '';
    width:20px;
    height: 20px;
    left: 1px;
    top: 1px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    transition: 0.4s;
}
label.active:before{
    left: 24px;
    background: #000;
}
body.night {
    background: #000;
    color: #fff;
}
body.night .card {
    background: #000;
}
body.night p{
    color: #fff;
}
body.night video{
    border: 2px solid #fff;
}
body.night  h1 h4 h6 {
    color: #fff;
}


/* nav animation */
.nav-link {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #031D44;
    padding: 5px 0px;
    margin-right: 10%;
    margin-left: 10px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
}
.nav-link:hover {
    opacity: 1;
}

.nav-link::before {
    transition: 300ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #031D44;
}

.nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
}

.nav-link-ltr:hover::before {
    width: 100%;
}

.nav-link-fade-up::before {
    width: 100%;
    bottom: 3px;
    opacity: 0;
}

.nav-link-fade-up:hover::before {
    bottom: 10px;
    opacity: 1;
}

.nav-link-grow-up::before {
    height: 0%;
    width: 100%;
    bottom: 0px;
}

.nav-link-grow-up:hover::before {
    height: 5px;
}

/* form contact */


